<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fakecall"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".CheckLicense"
			android:label="@string/app_name">
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
        
     <activity
            android:name=".abcActivity"
            android:label="@string/title_activity_main" >
            
        </activity>
        
     
              
          <activity android:name=".ScreenLockerActivity"
            android:label="@string/app_name" >
           
        </activity>
        
        <activity android:name=".LockerActivity"></activity>
        
        <service 
           android:label = "@string/app_name"
            android:name=".LockerService" >
        </service>
        
        <receiver android:name=".ScreebReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.mobint.locker.HOME_KEY_PRESSED" />
            </intent-filter>
        </receiver>
              
        <activity android:name=".Record"></activity>
        <activity android:name=".Video"></activity>
        
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".HTCSense_2_2_incoming_" ></activity>
        <activity android:name=".HTCSense_2_2_speaking"></activity>
    </application>
    
<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
</manifest>